# Python
__pycache__/
*.py[cod]
*$py.class

# QGIS / Qt / IDE
*.ui~
*.autosave
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Build / packaging
build/
dist/
*.zip

# Logs / temp
*.log
*.tmp
